body {
     margin: 0;
     overflow: hidden;
     font-family: 'Source Sans Pro';
     background: linear-gradient(to right, white, #D8CEF6); 
}

div {
     display: flex;
     padding: 10vh 10vw;
}

span {
     padding-top : 7vh;
}

.mbti {
     max-width : 40vw;
     max-height : 26vw;
     border-radius: 2%;
}


.introduce_profile {
     list-style: circle;
     padding-left: 10vw;
     line-height: 200%;
     font-size: 3vw;
}

strong {
     background-color: skyblue;
}
